<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!--this property's used to   -->
		<property
    name="enable_lazy_load_no_trans">true</property>
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/airline_db</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Password!23</property>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<mapping class="com.entity.Places"></mapping>
		<mapping class="com.entity.Admin"></mapping>
		<mapping class="com.entity.Airline"></mapping>
		<mapping class="com.entity.Flights"></mapping> 
	</session-factory>
</hibernate-configuration>